{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="gantry-theme://css/swiper.min.css"/>
{% endblock %}

{% do gantry.load('lightcase.init') %}
{% block particle %}

{% set swiper_slides %}
data-swiper-mobileslides="{{ particle.mobileslides|default('2') }}" data-swiper-mobilegroup="{{ particle.mobilegroup|default('1') }}" data-swiper-mobilespace="{{ particle.mobilespace|default('35') }}" data-swiper-tabletslides="{{ particle.tabletslides|default('3') }}" data-swiper-tabletgroup="{{ particle.tabletgroup|default('1') }}" data-swiper-tabletspace="{{ particle.tabletspace|default('35') }}" data-swiper-desktopslides="{{ particle.desktopslides|default('4') }}" data-swiper-desktopgroup="{{ particle.desktopgroup|default('1') }}" data-swiper-desktopspace="{{ particle.desktopspace|default('35') }}" data-swiper-largedesktopslides="{{ particle.largedesktopslides|default('4') }}" data-swiper-largedesktopgroup="{{ particle.largedesktopgroup|default('1') }}" data-swiper-largedesktopspace="{{ particle.largedesktopspace|default('35') }}"
{% endset %}

{% set swiper_breakpoints %}
data-swiper-mobile-breakpoint="{{ gantry.config.get('styles.breakpoints.large-mobile-container')|default('30rem') }}" data-swiper-tablet-breakpoint="{{ gantry.config.get('styles.breakpoints.tablet-container')|default('51rem') }}" data-swiper-desktop-breakpoint="{{ gantry.config.get('styles.breakpoints.desktop-container')|default('76rem') }}" data-swiper-largedesktop-breakpoint="{{ gantry.config.get('styles.breakpoints.large-desktop-container')|default('88rem') }}"
{% endset %}

<div id="{{ id }}" data-slider-id="{{ id }}">
	<div class="g-slider swiper-container area {{ particle.class|e }}" data-slider-thumbnails="{% if particle.thumbs == 'enabled' %}true{% else %}false{% endif %}" data-slider-effect="{{ particle.effect }}" data-slider-autoplay="{% if particle.autoplay == "enabled" %}true{% else %}false{% endif %}" data-slider-loop="{% if particle.loop == "enabled" %}true{% else %}false{% endif %}" data-slider-timeout="{{ particle.autoplayTimeout }}" data-slider-speed="{{ particle.speed }}" data-slider-touchmove="{% if particle.touchmove == "enabled" %}true{% else %}false{% endif %}" data-slider-centered="{% if particle.centered == "enabled" %}true{% else %}false{% endif %}" {% if gantry.page.direction == 'rtl' %} dir="rtl" {% endif %} {{ swiper_slides }} {{ swiper_breakpoints }}>

		<div class="g-slider-carousel swiper-wrapper">
			{% for item in particle.items %}
				<div class="swiper-slide">
					<div class="slide">
						<div class="g-slider-carousel-content-wrapper">
							{% if item.image and item.link %}
								<a href="{{ item.link }}" {% if item.linktarget is not same as('modal') %} target="{{ item.linktarget|default('_blank') }}" {% else %} data-rel="lightcase" {% endif %}>
									<img src="{{ url(item.image) }}" alt="{{ item.title }}" />
								</a>
							{% elseif item.image %}
								<img src="{{ url(item.image) }}" alt="{{ item.title }}" />
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<!-- navigation -->
		{% if particle.nav == 'enabled' %}
			{% if gantry.page.direction == 'rtl' %}
				<div class="navigation rtl">
					<div class="slider-button-next">
						<i class="fa fa-angle-left"></i>
					</div>
					<div class="slider-button-prev">
						<i class="fa fa-angle-right"></i>
					</div>
				</div>
			{% else %}
				<div class="navigation">
					<div class="slider-button-next">
						<i class="fa fa-angle-right"></i>
					</div>
					<div class="slider-button-prev">
						<i class="fa fa-angle-left"></i>
					</div>
				</div>
			{% endif %}
		{% endif %}
	</div>

    {% if particle.thumbs == 'enabled' %}
	<div id="thumbs{{ id }}" class="g-slider swiper-container g-thumbs">
		<div class="g-slider-carousel swiper-wrapper">
			{% for item in particle.items %}
				<div class="swiper-slide">
					<div class="slide">
						<div class="g-slider-carousel-content-wrapper">
							{% if item.title %}
								<span>{{ item.title }}</span>
							{% endif %}
						</div>

					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}

{% block javascript_footer %}
	{% do gantry.load('jquery') %}
    {% do gantry.document.addScript(url('gantry-theme://js/length.min.js'), 10, 'footer') %}
	{% do gantry.document.addScript(url('gantry-theme://js/swiper.min.js'), 10, 'footer') %}
	{% do gantry.document.addScript(url('gantry-theme://js/slider.init.js'), 10, 'footer') %}
{% endblock %}

